* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  min-height: 100vh;
  background-color: #000;
  font-family: "Syne", serif;
}

button {
  color: currentColor;
}

.button {
  align-items: center;
  background: 0 0;
  border: none;
  border-radius: 6.25rem;
  color: antiquewhite;
  cursor: pointer;
  display: inline-flex;
  font-size: 1.2rem;
  font-weight: 600;
  gap: 0.363636em;
  justify-content: center;
  letter-spacing: -0.01em;
  line-height: 1.04545;
  overflow: hidden;
  padding: 0.9375rem 1.5rem;
  position: relative;
  text-decoration: none;
  word-break: break-word;
  text-decoration: none;
}

@media (hover: hover) {
  .button.button--stroke:hover {
    color: #000;
    text-decoration: none;
  }
}

.button--stroke:after {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.button--stroke:after {
  border: 0.125rem solid antiquewhite;
  border-radius: 6.25rem;
  content: "";
  pointer-events: none;
}

.button__label {
  position: relative;
  text-align: center;
  transition: color 50ms ease-in-out;
}

.button--stroke:hover .button__label {
  transition: color 0.15s ease-in-out;
}

.button__flair {
  bottom: 0;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
}

.button--stroke .button__flair {
  transform: scale(0);
  transform-origin: 0 0;
  will-change: transform;
}

.button__flair:before {
  aspect-ratio: 1/1;
  background-color: antiquewhite;
  border-radius: 50%;
  content: "";
  display: block;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: translate(-50%, -50%);
  width: 170%;
}
